<!DOCTYPE html>
<html>
<head>
  <title>Backend JSON Generator for Chennai Deals app</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Chennai Deals - BO</a>
      <ul class="nav">
        <li class="active"><a href="/deals">Chennai Deals</a></li>
        <% if user_signed_in? %>
        <li ><%= link_to 'New Deal', new_deal_path %></li>
        <% end %>
      </ul>
      <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    </div>
  </div>
</div>
<!-- This one is for the devise configuration -->
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class="container">
<%= yield %>
</div>
  <footer>
  <div class="container">
    Coded Together 2013
  </div>
</footer>
</body>
</html>
